.elem {
  display: flex;
  justify-content: space-between;
  border: azure 1px solid;
  border-radius: 5px;
  margin-bottom: 3px;
  padding: 5px;
  width: 100%;
  background: white;
  align-items: center;
  gap: 8px;
}
.inputEditing {
  padding-left: 42px;
  width: 100%;
}
.view {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttongroup {
  display: flex;
  justify-content: flex-end;
  gap: inherit;
}
.viewText {
  width: 100%;
}

.done {
  text-decoration: line-through;
}

.error {
  color: red;
}

