.button {
  outline: none;
  border: none;
  font-size: large;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  cursor: pointer;
}

.active {
  color: deepskyblue;
  border-bottom: 2px solid deepskyblue;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 5px 5px;
}